@import "tailwindcss";

@theme {
  --color-primary: #141414;
  --color-background-light: #f7f7f7;
  --color-background-dark: #191919;
  --color-neon-green: #ccff00;
  --color-neon-purple: #b026ff;

  --font-display: var(--font-jakarta), sans-serif;
  --font-mono: var(--font-space-mono), monospace;
}

@layer utilities {
  .grid-bg {
    background-image: radial-gradient(#141414 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .glitch-text {
    text-shadow: 2px 0 #ccff00, -2px 0 #b026ff;
  }

  .neon-border {
    box-shadow: 0 0 10px rgba(204, 255, 0, 0.3);
  }

  /* Slider Styles matched to user Request */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #141414;
    cursor: pointer;
    border: 4px solid #ccff00;
    box-shadow: 0 0 15px #ccff00;
  }

  /* Hide scrollbar for ticker */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Antigravity Animations */
  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .antigravity-active .floating-card {
    animation: float 6s ease-in-out infinite;
  }

  .antigravity-active .floating-card-alt {
    animation: float 8s ease-in-out infinite reverse;
  }
}