@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-bg {
    background-image: radial-gradient(#141414 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .glitch-text {
    text-shadow: 2px 0 #ccff00, -2px 0 #b026ff;
  }

  .neon-border {
    box-shadow: 0 0 10px rgba(204, 255, 0, 0.3);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #141414;
    cursor: pointer;
    border: 4px solid #ccff00;
    box-shadow: 0 0 15px #ccff00;
  }
}